In [1]:
#Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json
from pprint import pprint
from scipy.stats import ttest_ind
from datetime import datetime
from config import yelp_key

In [2]:
county_datafile = "data/LOS_ANGELES_COUNTY_RESTAURANT_AND_MARKET_INSPECTIONS.csv"

county_data = pd.read_csv(county_datafile)

In [3]:
columns = ['ACTIVITY DATE','FACILITY ID','FACILITY NAME','PROGRAM STATUS','PE DESCRIPTION','FACILITY ADDRESS','FACILITY CITY','FACILITY ZIP','SCORE','GRADE']
cleaned_county_data = county_data[columns]
cleaned_county_data['ACTIVITY DATE'] = pd.to_datetime(cleaned_county_data['ACTIVITY DATE'])
cleaned_county_data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
0,2016-06-22,FA0179753,TEA BAR,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,954 E ALOSTA AVE,AZUSA,91702,93,A
1,2016-09-07,FA0239319,SHEFA,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,7275 MELROSE AVE,LOS ANGELES,90046,90,A
2,2016-09-09,FA0071154,SUBWAY,ACTIVE,RESTAURANT (0-30) SEATS MODERATE RISK,28788 THE OLD RD,VALENCIA,91355,98,A
3,2016-04-01,FA0144494,AFC SUSHI @ VONS #3138,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,16550 SOLEDAD CANYON RD,CANYON COUNTRY,91387-3215,99,A
4,2016-04-01,FA0005693,ALBERTS MEXICAN FOOD,INACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,2355 PECK RD,SOUTH EL MONTE,91733,92,A

In [4]:
cleaned_county_data.sort_values(by = ["ACTIVITY DATE","FACILITY ID","FACILITY ADDRESS"],inplace = True,ascending=True)
cleaned_county_data.count()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

ACTIVITY DATE       199950
FACILITY ID         199950
FACILITY NAME       199950
PROGRAM STATUS      199950
PE DESCRIPTION      199950
FACILITY ADDRESS    199950
FACILITY CITY       199950
FACILITY ZIP        199950
SCORE               199950
GRADE               199895
dtype: int64

In [5]:
unique_county_data = cleaned_county_data.drop_duplicates(subset = ['FACILITY ID'], keep = 'last')
#print(unique_county_data.count())
unique_county_data = unique_county_data.loc[(unique_county_data['PROGRAM STATUS'] != "INACTIVE"),:]
#print(unique_county_data.count())
unique_county_data = unique_county_data[unique_county_data['PE DESCRIPTION'].str.contains("RESTAURANT")]
#print(unique_county_data.count())
unique_county_data = unique_county_data[~unique_county_data['FACILITY NAME'].str.contains("#")]
#print(unique_county_data.count())
unique_county_data = unique_county_data.dropna(how='any')
print(unique_county_data.count())

ACTIVITY DATE       22512
FACILITY ID         22512
FACILITY NAME       22512
PROGRAM STATUS      22512
PE DESCRIPTION      22512
FACILITY ADDRESS    22512
FACILITY CITY       22512
FACILITY ZIP        22512
SCORE               22512
GRADE               22512
dtype: int64

In [10]:
sample_data = unique_county_data.sample(n=10)
sample_data

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
194027,2018-09-07,FA0073534,VINCENTI,ACTIVE,RESTAURANT (61-150) SEATS HIGH RISK,11930 SAN VICENTE BLVD,LOS ANGELES,90049,95,A
194779,2018-09-12,FA0137713,BBQ NIGHT,ACTIVE,RESTAURANT (61-150) SEATS HIGH RISK,12545 CARSON ST,HAWAIIAN GARDENS,90716-1607,90,A
160438,2018-04-19,FA0245767,EQUINOX EARTHBAR,ACTIVE,RESTAURANT (0-30) SEATS LOW RISK,10250 SANTA MONICA BLVD # 3750,LOS ANGELES,90067,92,A
196833,2018-09-19,FA0011579,DOUGH BOY,ACTIVE,RESTAURANT (0-30) SEATS MODERATE RISK,818 N HACIENDA BLVD,LA PUENTE,91744,93,A
192526,2018-08-30,FA0052185,THE OINKSTER,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,2005 COLORADO BLVD,LOS ANGELES,90041,94,A
180386,2018-07-12,FA0249206,WOKCANO CULVER CITY,ACTIVE,RESTAURANT (151 + ) SEATS HIGH RISK,6000 SEPULVEDA BLVD # 1161,CULVER CITY,90230,90,A
177093,2018-06-26,FA0033535,SMART MARKET,ACTIVE,RESTAURANT (0-30) SEATS LOW RISK,24255 PACIFIC COAST HWY,MALIBU,90263,98,A
142949,2018-02-05,FA0003575,AMAR PURE WATER & ICE CREAM,ACTIVE,RESTAURANT (0-30) SEATS LOW RISK,14284 E AMAR RD,LA PUENTE,91746,99,A
195101,2018-09-12,FA0264295,RICE STREET GO NOW,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,4838 S EASTERN AVE,COMMERCE,90040-2931,92,A
189273,2018-08-16,FA0249471,SUSHI DON-SAZANAMI EXPRESS,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,4816 LAUREL CANYON BLVD,VALLEY VILLAGE,91607,90,A

In [ ]:
#headers = {"Authorization": "Bearer "+yelp_key}
#params = {"term": unique_county_data['FACILITY NAME'].iloc[0],"location": unique_county_data['FACILITY ZIP'].iloc[0]}
#target_url = "https://api.yelp.com/v3/businesses/search"

#yelp_reviews = requests.get(target_url, params, headers=headers).json()
#yelp_reviews

In [21]:
headers = {"Authorization": "Bearer "+ yelp_key}
target_url = "https://api.yelp.com/v3/businesses/search"

final_df = pd.DataFrame()
name = []
rating = []
review_count = []
price = []
category = []

#for index, row in sample_data.iloc[:10,:].iterrows():
for index, row in sample_data.iterrows():
    restr_name = row['FACILITY NAME']
    restr_zip = row['FACILITY ZIP']
    restr_addr = row['FACILITY ADDRESS']
    restr_city = row['FACILITY CITY']
    #params = {"term": restr_name,"location": str(restr_addr + ", " + restr_city + ", "+restr_zip)}
    params = {"location": str(restr_addr + ", " + restr_city + ", "+restr_zip)}
    
    yelp_response = requests.get(target_url, params, headers=headers)
    
    if yelp_response.status_code != requests.codes.ok:
        print(yelp_response.text)
    else:
        yelp_data = yelp_response.json()
        try:
            name.append(yelp_data['businesses'][0]['name'])
            #print(yelp_data['businesses'][0]['name'])
        except (KeyError, IndexError):
            name.append("NA")
            #print("Missing Name...")
        try:
            rating.append(yelp_data['businesses'][0]['rating'])
            #print(yelp_data['businesses'][0]['rating'])
        except (KeyError, IndexError):
            rating.append("NA")
            #print("Missing Rating...")
        try:
            review_count.append(yelp_data['businesses'][0]['review_count'])
            #print(yelp_data['businesses'][0]['review_count'])
        except (KeyError, IndexError):
            review_count.append("NA")
            #print("Missing Reviews...")    
        try:    
            price.append(yelp_data['businesses'][0]['price'])
            #print(yelp_data['businesses'][0]['price'])
        except (KeyError, IndexError):
            price.append("NA")
            #print("Missing Price...")
        try:    
            category.append(yelp_data['businesses'][0]['categories'][0]['title'])
            #print(yelp_data['businesses'][0]['categories'][0]['title'])
        except (KeyError, IndexError):
            category.append("NA")
            #print("Missing Category...")
    time.sleep(.06)

In [22]:
final_df['Name'] = name
final_df['Inspection_Score'] = sample_data['SCORE'].tolist()
final_df['Inspection_Grade'] = sample_data['GRADE'].tolist()
final_df['Rating'] = rating
final_df['Reviews'] = review_count
final_df['Price'] = price
final_df['Category'] = category

final_df.head()

,Name,Inspection_Score,Inspection_Grade,Rating,Reviews,Price,Category
0,Diddy Riese Cookies,95,A,4.5,4987,$,Desserts
1,Gen Korean BBQ House,90,A,4.5,5418,$$,Korean
2,Diddy Riese Cookies,92,A,4.5,4987,$,Desserts
3,101 Sushi Roll and Grill,93,A,4.5,3041,$$,Sushi Bars
4,The Oinkster,94,A,4.0,3436,$$,Burgers

In [18]:
final_df['Reviews'] = pd.to_numeric(final_df['Reviews'],errors = 'coerce').fillna(0).astype(np.int64)
q1 = np.percentile(final_df['Reviews'],25)
q1

8.25

In [19]:
percentiled_df = final_df.loc[final_df['Reviews'] > q1, :]
percentiled_df

,Name,Inspection_Score,Inspection_Grade,Rating,Reviews,Price,Category
0,Vincenti Ristorante,95,A,4,193,$$$,Italian
1,BBQ Night,90,A,4,727,$$,Barbeque
3,Doughboys Surplus,93,A,3.5,49,$$,Shoe Stores
4,The Oinkster,94,A,4,3436,$$,Burgers
5,Wokcano,90,A,3.5,173,$$,Chinese
6,S-Mart,98,A,4,253,$$,Grocery
7,Amar Pure Water & Ice Cream,99,A,4.5,18,$,Coffee & Tea

In [20]:
# Save Data to csv
percentiled_df.to_csv("final_output_data.csv")