In [173]:
#Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json
from pprint import pprint
from scipy.stats import ttest_ind
from datetime import datetime
from config import yelp_key

In [174]:
county_datafile = "data/LOS_ANGELES_COUNTY_RESTAURANT_AND_MARKET_INSPECTIONS.csv"

county_data = pd.read_csv(county_datafile)

In [175]:
columns = ['ACTIVITY DATE','FACILITY ID','FACILITY NAME','PROGRAM STATUS','PE DESCRIPTION','FACILITY ADDRESS','FACILITY CITY','FACILITY ZIP','SCORE','GRADE']
cleaned_county_data = county_data[columns]
cleaned_county_data['ACTIVITY DATE'] = pd.to_datetime(cleaned_county_data['ACTIVITY DATE'])
cleaned_county_data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
0,2016-06-22,FA0179753,TEA BAR,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,954 E ALOSTA AVE,AZUSA,91702,93,A
1,2016-09-07,FA0239319,SHEFA,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,7275 MELROSE AVE,LOS ANGELES,90046,90,A
2,2016-09-09,FA0071154,SUBWAY,ACTIVE,RESTAURANT (0-30) SEATS MODERATE RISK,28788 THE OLD RD,VALENCIA,91355,98,A
3,2016-04-01,FA0144494,AFC SUSHI @ VONS #3138,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,16550 SOLEDAD CANYON RD,CANYON COUNTRY,91387-3215,99,A
4,2016-04-01,FA0005693,ALBERTS MEXICAN FOOD,INACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,2355 PECK RD,SOUTH EL MONTE,91733,92,A

In [193]:
cleaned_county_data.sort_values(by = ["ACTIVITY DATE","FACILITY ID","FACILITY ADDRESS"],inplace = True,ascending=True)
cleaned_county_data.count()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

ACTIVITY DATE       199950
FACILITY ID         199950
FACILITY NAME       199950
PROGRAM STATUS      199950
PE DESCRIPTION      199950
FACILITY ADDRESS    199950
FACILITY CITY       199950
FACILITY ZIP        199950
SCORE               199950
GRADE               199895
dtype: int64

In [202]:
unique_county_data = cleaned_county_data.drop_duplicates(subset = ['FACILITY ID'], keep = 'last')
#print(unique_county_data.count())
unique_county_data = unique_county_data.loc[(unique_county_data['PROGRAM STATUS'] != "INACTIVE"),:]
#print(unique_county_data.count())
unique_county_data = unique_county_data[unique_county_data['PE DESCRIPTION'].str.contains("RESTAURANT")]
#print(unique_county_data.count())
unique_county_data = unique_county_data[~unique_county_data['FACILITY NAME'].str.contains("#")]
#print(unique_county_data.count())
unique_county_data = unique_county_data.dropna(how='any')
print(unique_county_data.count())

ACTIVITY DATE       22512
FACILITY ID         22512
FACILITY NAME       22512
PROGRAM STATUS      22512
PE DESCRIPTION      22512
FACILITY ADDRESS    22512
FACILITY CITY       22512
FACILITY ZIP        22512
SCORE               22512
GRADE               22512
dtype: int64

In [184]:
sample_data = unique_county_data.sample(n=5000)
sample_data

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
189695,2018-08-20,FA0242530,MILAN'S PIZZA,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,8968 CORBIN AVE,NORTHRIDGE,91324,94,A
188217,2018-08-14,FA0162733,HISAYA KYOTO CHESTNUTS,ACTIVE,RESTAURANT (0-30) SEATS LOW RISK,1757 W CARSON ST F,TORRANCE,90501,95,A
153506,2018-03-21,FA0070502,SILVER LAKE LOUNGE,ACTIVE,RESTAURANT (31-60) SEATS LOW RISK,2906 W SUNSET BLVD,LOS ANGELES,90026,94,A
175105,2018-06-19,FA0142715,GUCKENHEIMER @ ABBOTT,ACTIVE,RESTAURANT (151 + ) SEATS HIGH RISK,15900 VALLEY VIEW CT,SYLMAR,91342-3577,98,A
193715,2018-09-06,FA0042963,OCHA CLASSIC THAI RESTAURANT,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,3960 W BEVERLY BLVD,LOS ANGELES,90004,97,A
183447,2018-07-25,FA0024384,GARAGE PIZZA,ACTIVE,RESTAURANT (0-30) SEATS MODERATE RISK,4339 1/2 W SUNSET BLVD,LOS ANGELES,90029,91,A
100730,2017-07-12,FA0044751,PURPLE ORCHID,ACTIVE,RESTAURANT (31-60) SEATS LOW RISK,221 RICHMOND ST,EL SEGUNDO,90245,93,A
177447,2018-06-27,FA0041873,MULTI-PURPOSE SENIOR CITIZEN,ACTIVE,RESTAURANT (61-150) SEATS LOW RISK,5133 S CRENSHAW BLVD,LOS ANGELES,90043,96,A
195565,2018-09-13,FA0249594,SHARKY'S WOODFIRED MEXICAN GRILL,ACTIVE,RESTAURANT (61-150) SEATS HIGH RISK,1716 N CAHUENGA BLVD,LOS ANGELES,90028-5102,90,A
89638,2017-05-17,FA0031983,SANTA MONICA PONY LEAGUE,ACTIVE,RESTAURANT (0-30) SEATS LOW RISK,501 HOLLISTER AVE,SANTA MONICA,90405,96,A

In [171]:
#headers = {"Authorization": "Bearer "+yelp_key}
#params = {"term": unique_county_data['FACILITY NAME'].iloc[0],"location": unique_county_data['FACILITY ZIP'].iloc[0]}
#target_url = "https://api.yelp.com/v3/businesses/search"

#yelp_reviews = requests.get(target_url, params, headers=headers).json()
#yelp_reviews

In [195]:
headers = {"Authorization": "Bearer "+ yelp_key}
target_url = "https://api.yelp.com/v3/businesses/search"

final_df = pd.DataFrame()
name = []
rating = []
review_count = []
price = []

#for index, row in sample_data.iloc[:10,:].iterrows():
for index, row in sample_data.iterrows():
    restr_name = row['FACILITY NAME']
    restr_zip = row['FACILITY ZIP']
    restr_addr = row['FACILITY ADDRESS']
    restr_city = row['FACILITY CITY']
    params = {"term": restr_name,"location": str(restr_loc + ", " + restr_city + ", "+restr_zip)}
    
    yelp_response = requests.get(target_url, params, headers=headers)
    
    if yelp_response.status_code != requests.codes.ok:
        print(yelp_response.text)
    else:
        yelp_data = yelp_response.json()
        try:
            name.append(yelp_data['businesses'][0]['name'])
            #print(yelp_data['businesses'][0]['name'])
        except (KeyError, IndexError):
            name.append("NA")
            #print("Missing Name...")
        try:
            rating.append(yelp_data['businesses'][0]['rating'])
            #print(yelp_data['businesses'][0]['rating'])
        except (KeyError, IndexError):
            rating.append("NA")
            #print("Missing Rating...")
        try:
            review_count.append(yelp_data['businesses'][0]['review_count'])
            #print(yelp_data['businesses'][0]['review_count'])
        except (KeyError, IndexError):
            review_count.append("NA")
            #print("Missing Reviews...")    
        try:    
            price.append(yelp_data['businesses'][0]['price'])
            #print(yelp_data['businesses'][0]['price'])
        except (KeyError, IndexError):
            price.append("NA")
            #print("Missing Price...")

Milan's Cafe Pizza
Hisaya Kyoto Chestnuts Cafe
Silverlake Lounge
Missing Name...
Ocha Classic
Wall ST Pizza
Purple Orchid
Missing Name...
Sharky's Woodfired Mexican Grill
Missing Name...

In [198]:
final_df['Name'] = name
final_df['Inspection_Score'] = sample_data['SCORE'].tolist()
final_df['Inspection_Grade'] = sample_data['GRADE'].tolist()
final_df['Rating'] = rating
final_df['Reviews'] = review_count
final_df['Price'] = price

final_df.head()

,Name,Inspection_Score,Inspection_Grade,Rating,Reviews,Price
0,Milan's Cafe Pizza,94,A,3.5,70,$$
1,Hisaya Kyoto Chestnuts Cafe,95,A,4,41,$$
2,Silverlake Lounge,94,A,2.5,177,$
3,NA,98,A,NA,NA,NA
4,Ocha Classic,97,A,3.5,488,$$

In [199]:
final_df['Reviews'] = pd.to_numeric(final_df['Reviews'],errors = 'coerce').fillna(0).astype(np.int64)
q1 = np.percentile(final_df['Reviews'],25)
q1

10.25

In [200]:
percentiled_df = final_df.loc[final_df['Reviews'] > q1, :]
percentiled_df

,Name,Inspection_Score,Inspection_Grade,Rating,Reviews,Price
0,Milan's Cafe Pizza,94,A,3.5,70,$$
1,Hisaya Kyoto Chestnuts Cafe,95,A,4,41,$$
2,Silverlake Lounge,94,A,2.5,177,$
4,Ocha Classic,97,A,3.5,488,$$
5,Wall ST Pizza,91,A,4,123,$$
6,Purple Orchid,93,A,3.5,258,$$
8,Sharky's Woodfired Mexican Grill,90,A,4,168,$$

In [201]:
# Save Data to csv
percentiled_df.to_csv("final_output_data.csv")